Repository decide-dialga/decide, pull requests merged in 2019-12, with the labels that each got.

#7 [feat](authentication) GitHub Authentication
  Pipfile
  Pipfile.lock
  decide/decide/settings.py
  decide/decide/urls.py
  decide/decide/views.py
  decide/local_settings.example.py
  decide/templates/home.html
Labels: enhancement

#8 [feat](vis) Graph to display the results
  decide/visualizer/templates/visualizer/visualizer.html
Labels: visualizer

#34 [feat](all) Configuring travis for build generation
  .travis.yml
Labels: HIGH, accepted, other

#35 [feat](all) Merge Travis configuration for build generation
  .gitignore
  .travis.yml
  docker/Dockerfile
  requirements.txt
Labels: HIGH

#24 [feat](voting) M2 functional increase
  decide/voting/admin.py
  decide/voting/migrations/0004_auto_20191204_0021.py
  decide/voting/models.py
  decide/voting/views.py
  requirements.txt
  resources/active_modules.png
  resources/assign_issues.png
  resources/assign_project_issues.png
  resources/orphan_modules.png
Labels: voting

#19 [feat](vis) M2 functional increase
  .gitignore
  decide/visualizer/templates/visualizer/visualizer.html
Labels: visualizer
