Repository decide-dialga/decide, pull requests merged in 2020-01, with the labels that each got.

#39 [fix](vis) Refactor Chart.js library
  .gitignore
  decide/visualizer/static/Chart.js
  decide/visualizer/templates/visualizer/visualizer.html
Labels: visualizer

#43 [feat](vis) User-friendly interface for vis.
  decide/visualizer/templates/visualizer/visualizer.html
Labels: visualizer

#27 [feat](vis) Dark mode and cookie
  decide/visualizer/templates/visualizer/visualizer.html
Labels: visualizer

#37 [test](voting) Tests to check input file to create votings
  decide/voting/docs/CandidatesFiles/Candidatos_Senado.xlsx
  decide/voting/docs/CandidatesFiles/Candidatos_Senado2.xlsx
  decide/voting/docs/CandidatesFiles/Candidatos_Senado3.xlsx
  decide/voting/docs/CandidatesFiles/Candidatos_Senado4.xlsx
  decide/voting/tests.py
Labels: voting

#49 Revert "[feat](postproc) Ley d´hondt"
  Procfile
  decide/postproc/views.py
Labels: HIGH, postproc

#50 [feat](vis) M3 Functional Increase
  .gitignore
  decide/visualizer/static/Chart.js
  decide/visualizer/templates/visualizer/visualizer.html
Labels: visualizer

#44 [feat](voting) M3 Functional Increase
  decide/voting/docs/CandidatesFiles/Candidatos_Senado.xlsx
  decide/voting/docs/CandidatesFiles/Candidatos_Senado2.xlsx
  decide/voting/docs/CandidatesFiles/Candidatos_Senado3.xlsx
  decide/voting/docs/CandidatesFiles/Candidatos_Senado4.xlsx
  decide/voting/tests.py
Labels: voting

#61 [fix](auth) Corrección de errores CSS y Tests de Travis
  decide/authentication/serializers.py
  decide/authentication/tests.py
  decide/authentication/views.py
  decide/base/tests.py
  decide/static/css/style_aux.css
  decide/store/tests.py
  decide/templates/account/login.html
  decide/templates/account/logout.html
  decide/templates/base.html
  decide/templates/signup.html
  decide/templates/socialaccount/snippets/provider_list.html
  decide/voting/tests.py
Labels: HIGH, auth

#62 [fix](auth)Corrección final de errores provocados por CSS
  decide/static/css/style_aux.css
  decide/static/css/styles.css
  decide/templates/account/login.html
  decide/templates/account/logout.html
  decide/templates/base.html
  decide/templates/home.html
  decide/templates/signup.html
  decide/templates/socialaccount/snippets/provider_list.html
Labels: HIGH, auth

#59 [feat](vis) Nuevas forma de mostrar los resultados de las votaciones
  decide/visualizer/templates/visualizer/visualizer.html
Labels: NORMAL, accepted, visualizer

#66 [fix](vis) Dark mode adapted to the new frontend
  decide/visualizer/templates/visualizer/visualizer.html
Labels: NORMAL, visualizer

#77 [fix](vis) User-friendly interface
  decide/visualizer/templates/visualizer/visualizer.html
Labels: HIGH, visualizer

#88 [fix](vis) Añadida alerta de activación/desactivación y errores de adaptación corregidos
  decide/visualizer/templates/visualizer/visualizer.html
Labels: LOW, visualizer

#96 [fix](vis) Gráfica con los colores representativos de los partidos políticos.
  decide/visualizer/templates/visualizer/visualizer.html
Labels: NORMAL, visualizer

#97 [feat](vis) Publish the results on social networks
  decide/visualizer/templates/visualizer/visualizer.html
Labels: NORMAL, visualizer

#98 [feat](vis) Export results to csv file
  decide/visualizer/templates/visualizer/visualizer.html
Labels: NORMAL, visualizer

#108 Auth test/signup tests
  decide/authentication/tests.py
Labels: NORMAL, accepted, auth

#95 [fix](vis) Control the data display input according to the voting status
  decide/visualizer/templates/visualizer/visualizer.html
Labels: HIGH, visualizer

#109 [feature](voting) Eliminar votos asociados a votación.
  decide/voting/admin.py
  decide/voting/models.py
  decide/voting/tests.py
  decide/voting/views.py
Labels: voting

#106 [feat](voting) Import Votings
  decide/voting/admin.py
  decide/voting/forms.py
  decide/voting/models.py
  decide/voting/templates/import_form.html
Labels: voting

#110 [refactor](voting) Eliminación imports.
  decide/voting/models.py
  decide/voting/tests.py
  decide/voting/views.py
Labels: census

#111 [refactor](census) Añadiendo logica al guardar un censo.
  decide/census/admin.py
  decide/census/models.py
  decide/census/tests.py
  decide/voting/models.py
  decide/voting/tests.py
Labels: census

#105 [feature] (Auth) feature/issue94: Boton de facebook para login
  decide/decide/settings.py
  resources/badges-decide-dialga.JPG
  resources/codacy-bandit-pattern-list.JPG
  resources/codacy-pylint-pattern-list.JPG
  resources/travis-environment-variables.JPG
  resources/travis-push-and-branch-config.JPG
Labels: NORMAL, auth

#116 [feat](vis) Añadir Modos daltónicos
  decide/visualizer/templates/visualizer/visualizer.html
Labels: NORMAL, accepted, visualizer

#118 [feat](vis) Exportación a PDF
  decide/visualizer/templates/visualizer/visualizer.html
Labels: NORMAL, visualizer

#121 [fix](vis) Fixing two small bugs
  decide/visualizer/templates/visualizer/visualizer.html
Labels: LOW, visualizer

#120 [test](vis) Dark mode tests
  decide/visualizer/tests.py
Labels: NORMAL, visualizer

#128 [fix](auth)Fix to Pull-Request #123
  decide/decide/settings.py
  decide/templates/signup.html
Labels: auth

#125 [feat](voting) M3 Functional Increase
  decide/census/admin.py
  decide/census/models.py
  decide/census/tests.py
  decide/voting/admin.py
  decide/voting/filters.py
  decide/voting/forms.py
  decide/voting/management/commands/testvoting.py
  decide/voting/models.py
  decide/voting/templates/import_form.html
  decide/voting/tests.py
  decide/voting/views.py
Labels: voting

#123 [feat](auth)M3 Functional Increase R2
  .travis.yml
  decide/authentication/testSelenium.py
  decide/authentication/tests.py
  decide/booth/templates/booth/booth.html
  decide/booth/views.py
  decide/decide/settings.py
  decide/static/jquery/jquery.min.js
  decide/templates/account/login.html
  decide/templates/navbar.html
  decide/templates/signup.html
  requirements.txt
  resources/badges-decide-dialga.JPG
  resources/codacy-bandit-pattern-list.JPG
  resources/codacy-pylint-pattern-list.JPG
  resources/travis-environment-variables.JPG
  resources/travis-push-and-branch-config.JPG
Labels: auth

#133 [feat](all) Configuring travis for deploying in heroku
  .travis.yml
  decide/decide/travis_settings.py
  decide/travis_local_settings.py
  runtime.txt
  travis_requirements.txt
Labels: HIGH, accepted, other

#135 [refactor](all) Refactor flake8 indicators in base census and mixnet
  decide/base/backends.py
  decide/base/mods.py
  decide/base/perms.py
  decide/base/tests.py
  decide/census/admin.py
  decide/census/tests.py
  decide/census/urls.py
  decide/census/views.py
  decide/gateway/urls.py
  decide/gateway/views.py
  decide/mixnet/models.py
  decide/mixnet/tests.py
  decide/mixnet/views.py
Labels: NORMAL, accepted, other
